﻿@model Task24.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddSupervisorConfirmation</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <div class="SeeList">
        <div class="TitleSeeList">
            @Model.Name has been added to the current supervisor list with the id number: @Model.Id.ToString()
             <hr />
        </div>
        <a asp-action="AllSupervisors"> View all supervisors</a>
    </div>
</body>
</html>
