﻿@import url(../lib/bootstrap/dist/css/bootstrap.css);
body {
  background-color: #d05ce3;
  text-align: center; }
  body .titlePage {
    padding-top: 5px;
    background-color: #6a0080; }
    body .titlePage .SupTitle {
      color: whitesmoke;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
  body .myForm {
    font-size: 25px;
    color: dimgrey;
    background-color: #E1E2E1;
    margin: 5%;
    padding: 5%; }
    body .myForm .errorMsg {
      color: red;
      text-transform: uppercase;
      font-size: 20px; }
    body .myForm .iInput .idInput {
      font-size: 32px; }
    body .myForm .iInput .input-lg {
      text-align: center;
      background-color: #d1c4e9; }
    body .myForm .nInput .nameInput {
      font-size: 32px; }
    body .myForm .nInput .input-lg {
      text-align: center;
      background-color: #d1c4e9; }
    body .myForm .addSupBtn {
      background-color: #6a1b9a;
      cursor: pointer;
      color: whitesmoke;
      text-align: center;
      border-radius: 15px;
      padding: 10px; }
    body .myForm .addSupBtn:hover {
      background-color: #883997; }
  body footer {
    background-color: #9c27b0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-bottom: 10%; }

body .SeeList {
  color: grey;
  font-size: 50px; }
  body .SeeList .TitleSeeList {
    background-color: #883997;
    color: white; }
