﻿@import "../lib/bootstrap/dist/css/bootstrap.css";

body {
    background-color: #d05ce3;
    text-align: center;


    .titlePage {
        padding-top: 5px;
        background-color: #6a0080;

        .SupTitle {
            color: whitesmoke;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

    .myForm {
        font-size: 25px;
        color: dimgrey;
        background-color: #E1E2E1;
        margin: 5%;
        padding: 5%;


        .errorMsg {
            color: red;
            text-transform: uppercase;
            font-size: 20px;
        }


        .iInput {

            .idInput {
                font-size: 32px;
            }

            .input-lg {
                text-align: center;
                background-color: #d1c4e9;
            }
        }

        .nInput {
            .nameInput {
                font-size: 32px;
            }

            .input-lg {
                text-align: center;
                background-color: #d1c4e9;
            }
        }

        .addSupBtn {
            background-color: #6a1b9a;
            cursor: pointer;
            color: whitesmoke;
            text-align: center;
            border-radius: 15px;
            padding: 10px;
        }

        .addSupBtn:hover {
            background-color: #883997;
        }
    }

    footer {
        background-color: #9c27b0;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        color: white;
        padding-bottom: 10%;
    }
}

body {
    .SeeList {
        color: grey;
        font-size: 50px;

        .TitleSeeList {
            background-color: #883997;
            color:white;
        }
    }
}

